@media screen and (width<590px) and (width >=0px){
    
    .details_houserule{
        box-shadow: rgba(79, 141, 63, 0.05) 0px 0px 0px 1px;
        margin-top: 70px;
        width: fit-content;
        height: max-content;
        margin-bottom: 70px;
    }
    .title-rate{
        font-size: 40px;
    }
    .details_title{
        font-size: 20px;
    }
    
    
    .details_small_div{
        font-size: 8px;
    }
    
    .img{
        width: 25px;
        height: 25px;
    }
    
    
    .card_title{
        font-size: 10px;
    }
    .card_price{
        font-size: 9px;
    }
}